<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user1.Mapper.UserMapper">

    <resultMap id="userMap" type="com.example.demo.user1.Entity.User">
        <result property="id" column="USER_ID"/>
        <result property="name" column="USER_NAME"/>
        <result property="password" column="USER_PASSWORD"/>
        <result property="genner" column="USER_GENDER"/>
    </resultMap>

    <select id="queryAllUser" resultMap="userMap">
        select * from demo.demo_user
    </select>

    <insert id="insertUser" parameterType="com.example.demo.user1.Entity.User">
        insert into demo.demo_user values(#{id},#{name},#{genner},#{password})
    </insert>
</mapper>